fastapi
uvicorn[standard]

pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
alembic

langchain
langchain-core
langchain-qdrant
langchain-huggingface

qdrant-client
sentence-transformers

tree-sitter
tree-sitter-python